:root{
    --color:#006341;
  }

*{
    margin: 0px;
    box-sizing: border-box;
    
}

/*------------------------Header---------------------------*/
.head{
    height: 100px;
}

.linha_verde{
    height: 10px;
    background-color: var(--color);
}
.menu{
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 100px;
    margin-top: 20px;
    width: 70px;
    height: 70px;
}

.menu_esquerda{
    display: flex;
    margin-right: 100px;
}

.menu_mobile{
    width: 30px;
    height: 30px;
    margin-top: 43px;
}

.search{
    margin-right: 50px;
    height: 35px;
    width: 250px;
    margin-top: 40px;
    font-size: 16px;
    padding-left: 10px;
}

/*-----------------------------------Main------------------------*/
.conteudo1{
    background-image:url('../images/bg.jpg');
    background-size:  cover;
    background-position:  center;
    padding-top:90px;
    padding-bottom:90px;
}

.container{
    max-width:1140px;
    margin:auto;
}

.imagens{
    margin-top:60px;
}

.imagens .img{
    width:148px;
    height:148px;
    border: 6px solid var(--color);
    border-radius: 50%;
    margin-right:30px;
}




.conteudo2{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.c3{
    padding: 80px;
}

.c4{
    height: 350px;
    background-image:url('../images/f2.jpg');
    background-size: cover;
    background-position: center center;
}

.c5{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image:url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
}





.conteudo3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.c6{
    background-image:url('../images/f3.jpg');
    background-size: cover;
    background-position: center center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.c7{
    padding: 80px;
}

.c8{
    height: 50vh;
    background-image:url('../images/f4.jpg');
    background-size: cover;
    background-position: center center;
}




.conteudo4{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.c9{
    padding: 200px 80px;
    background-image:url('../images/bg2.jpg');
    background-size: cover;
    background-position: left;
}

.c10{   
    background-image:url('../images/f5.jpg');
    background-size: cover;
    background-position: center;
}




.conteudo5{
    background-color: rgb(232,233,238);
    display: grid;
    grid-template-columns: 500px 1fr;
    
}

.c11{
    padding: 150px 80px;
}

.img_c11{
    background-image:url('../images/bg3.jpg');
    background-position: left;
}




.conteudo6 {
    height: 100vh;
    display:flex;
    justify-content: center;
    background-color: rgb(232,233,238);
}
.c12{
    width: 80vw;
    background-image:url('../images/bg4.jpg');
    background-size: cover;
    background-position: center center;
   
}


/*--------------------------Footer---------------------------*/
.rodape{
    height: 33vh;
    background-color: rgb(54, 53, 53);
}




/*--------------------Formatação dos textos-----------------------*/
.container h1{
    font-size: 90px;
    font-weight: bold;
    line-height: 100px;
    margin: 0px;
    margin-bottom: 30px;
}

.linha{
    width: 150px;
    height: 20px;
    background-color: var(--color);
    color:var(--color);

}

.conteudo3 h1, .conteudo2 h1, .conteudo4 h1, .conteudo5 h1{
    font-size: 30px; 
}

.conteudo2 h2{
    font-size: 15px;
    margin-top: 20px;
}

.txt{
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
    line-height: 25px;
}

.saber_mais{
    font-size: 20px;
}


.c11 .txt{
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
    line-height: 25px;
}






@media (min-width:769px) and (max-width:1140px) {
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media (min-width:426px) and (max-width:768px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
      }
    .conteudo2{
        grid-template-columns: 3fr 2fr;
    }
    .conteudo3{
      grid-template-columns: 2fr 3fr;
    }
    .conteudo4{
        grid-template-columns: 3fr 2fr;
    }
}

@media (max-width:425px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
      }

    .logo{
        margin-left: 20px;
    }
    .search{
        margin-left: 20px;
        max-width: 100px ;    
    }
    .container h1{
        font-size: 50px;
        line-height: 50px;
    }
    
    .imagens .img{
        width:80px;
        height:80px;
        border: 2px solid var(--color);
        border-radius: 50%;
        margin-right:10px;
    }

    .conteudo2, .conteudo3, .conteudo4, .conteudo5{
        grid-template-columns: 1fr;
    }
    .c3, .c7, .c9, .c11{
        padding:40px;
    }

    .conteudo6{
        height: 50vh;
    }
    
}